# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/editor.xml
/material_theme_project_new.xml
/misc.xml
/modules.xml
/dictionaries/project.xml
/vcs.xml
/vulkan++.iml
